
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/product.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <title>GetProducts</title>
</head>
<body>
    <div id="results">
    </div>
    <button id="onetime">Получить продукты</button>
    <script src="~/Scripts/GetProductsAjax.js"></script>
    <script>
        window.onload = function () {
            document.getElementById("onetime").onclick = function () {
                this.disabled = 'disabled';
            }
        }
    </script>
</body>
</html>
